


/* ======================Large desktops and laptops====================== */
@media (min-width: 1200px) {
    .test{
        color:yellow
    }
    
    
}

@media (min-width: 1200px) and (max-width: 1350px ){
    .test{
        color: red;
    }
    
    .photos{
        margin-right: 20px;
    }
    
    .articles{
        max-width: 650px;
    }
    
}


/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .test{
        color: aqua;
    }
    
    p, h1, .text-title, .text-add, highlight1, highlight2, span{
        
       font-size: 1.5rem;!
    }
    
     .highlight2 a{
        font-size: 35px;
    }
    
    .articles{
        max-width: 500px;
    }
    
    #desktop:checked ~ #slider{ /*размер всего слайдера*/
   
	max-width: 700px; /*максимальнная длинна*/
}
    
   
}

/* =====================Portrait tablets and small desktops===================== */
@media (min-width: 768px) and (max-width: 991px) {
    .test{
        color: gray;
    }
    
    p, h1, .text-title, .text-add, .highlight1, .highlight2, .conts{
        
       font-size: 1.5rem;!
    }
    
    .highlight2 a{
        font-size: 30px;
    }
    
    .conts, .cont-title{
        font-size: 20px;
    }
    
    .articles{
        max-width: 400px;
        
    }
    
    
/*---------Видео----------------*/
    
    .videos{
        display: none;
    }
    
    .video-title{
        font-size: 25px;
    }
    
    .videos-in ul li{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
    
    .videos-in li a{
    text-decoration: none;
    color: #2828d2;
}
    
    .videos-in ul li img{
    float: left;
    width: 35px;
    height: 35px;
}
    
    
    .video-input{
        margin-top: 50px;
        display: flex;
    }
    
/*------------Конец видео------------------*/
    
    
/*-------------Фото----------------*/
    
    .photos{
        margin-right: 14px;
    }
    
    .photos>ul{
        max-width: 200px;
    }
    
    .photos  ul li{
        max-width: 150px;
    }
    
   .photos li img{
    
    max-width: 150px;
    
    }
    
/*-----------Конец фото---------------*/
    
   
/*----------------Начало слайдера--------------*/
    #desktop:checked ~ #slider{ 
    
	max-width: 580px; 
}
    article img{ /*размер изображений слайдера*/
    width: 80%;
    height: 300px;
}
/*---------------Конец слайдера---------------*/
}

/* ==========================Landscape phones and portrait tablets ===============*/
@media (max-width: 767px) {
    .test{
            color: deeppink;
    }
    
        p, h1, .text-title, .text-add, .highlight1, .highlight2, .conts{
        
       font-size: 1.2rem;!
    }
    
    .highlight2 a{
        font-size: 1.2rem;
    }
    
    .conts, .cont-title{
        font-size: 25px;
        
    }
    
    .articles{
        max-width: 800px;
        margin: 0 auto;
        
    }
    
    .text-title, .text-add, p{
        margin: 0 auto;
    }
    
    header{
        
        height: 150px;
        
    }
    
/*---------Видео----------------*/
    
    
    
    .right-side{
        display: none;
}
    .video-title{
        font-size: 25px;
}
    
    
    .video-input{
        display: flex;
}
    
    
    
/*------------Конец видео------------------*/
    
    
/*---------------Контакты----------------*/
    
    .contacts-input{
    display: flex;
    flex-direction: column;
}


    
/*------------Конец контактов-----------*/
    
/*-------------Фото----------------*/
    
    .photos{
        margin-right: 14px;
    }
    
    .photos>ul{
        max-width: 200px;
    }
    
    .photos  ul li{
        max-width: 130px;
    }
    
   .photos li img{
    
    max-width: 130px;
    
    }
    
/*-----------Конец фото---------------*/
    
/*-----------Слайдер-----------------*/
    
    #desktop:checked ~ #slider{ 
    
	max-width: 400px; 
}
    
    article img{ /*размер изображений слайдера*/
    width: 80%;
    height: 200px;
}
    
    #switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),

#switch5:checked ~ #controls label:nth-child(1),
/*Лево*/
    #switch1:checked ~ #controls label:nth-child(5),
    #switch2:checked ~ #controls label:nth-child(1),
    #switch3:checked ~ #controls label:nth-child(2),
    #switch4:checked ~ #controls label:nth-child(3),
    #switch5:checked ~ #controls label:nth-child(4){
        
        background-size: contain;
        
         /*сдвиг влево*/
      margin: -150px -30px 0 -30px;
        max-height: 55px;
        max-width: 55px;
}
/*----------------Конец слайдера-----------*/
    
}

/* ===============================Landscape phones and smaller ============================*/
@media (max-width: 480px) {
    .test{
        color: green;
    }
    
    
     p, h1, .text-title, .text-add, .highlight1, .highlight2, .conts{
        
       font-size: 1.2rem;!
    }
    
    .highlight2 a{
        font-size: 1.2rem;
    }
    
    .conts, .cont-title{
        font-size: 25px;
        
    }
    
    .articles{
        max-width: 800px;
        margin: 0 auto;
        
    }
    
    .text-title, .text-add, p{
        margin: 0 auto;
    }
    
    header{
        
        max-height: 100px;
        
    }
    
    
/*------------Фото---------------*/
    
    .photos{
        display: none;
}

    .photos-input{
        display: flex;
    }
    

    
    
/*--------------Конец фото------------*/
    
/*---------Видео----------------*/
    
    
    
    .right-side{
        display: none;
}
    .video-title{
        font-size: 25px;
}
    
    
    .video-input{
        display: flex;
}
    
    
    
/*------------Конец видео------------------*/
    
    
/*---------------Контакты----------------*/
    
    .contacts-input{
    display: flex;
    flex-direction: column;
}


    
/*------------Конец контактов-----------*/
    
/*-------------Фото----------------*/
    
    .photos{
        margin-right: 14px;
    }
    
    .photos>ul{
        max-width: 200px;
    }
    
    .photos  ul li{
        max-width: 130px;
    }
    
   .photos li img{
    
    max-width: 130px;
    
    }
    
/*-----------Конец фото---------------*/
    
    /*-----------Слайдер-----------------*/
    
    #slider{
        padding-bottom: 150px;
    }
    
    #desktop:checked ~ #slider{ 
    
	max-width: 300px; 
}
    
    article img{ /*размер изображений слайдера*/
    width: 80%;
    height: 140px;
}
    
    #switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),

#switch5:checked ~ #controls label:nth-child(1),
/*Лево*/
    #switch1:checked ~ #controls label:nth-child(5),
    #switch2:checked ~ #controls label:nth-child(1),
    #switch3:checked ~ #controls label:nth-child(2),
    #switch4:checked ~ #controls label:nth-child(3),
    #switch5:checked ~ #controls label:nth-child(4){
        
        display: none;
}
/*----------------Конец слайдера-----------*/
    
    
    
    
    
    
    
    
}